body{
    margin: 0;
    background-color: #EDF1F2;
    font-family: "Science Gothic", sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* menu */
.firstMenu{
    margin-top: 5px;
}
.firstMenu ul{
    display: flex;
}
.firstMenu li a{
    color: rgb(69, 69, 69);
    font-size: 13px;
}
.blueButton{
    background-color: rgb(9, 203, 203);
    color: white;
    padding: 3px;
}
.redButton{
    background-color: rgb(204, 59, 30);
    color: white;
    padding: 3px;
}
.firstMenu li{
    margin-left: 10px;
    margin-right: 10px;
}
.firstMenu{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}
/* secondMenu */
.secondMenu{
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-left: 100px;
}
.secondMenu ul{
    display: flex;
    align-items: center;
}
.secondMenu a{
    color: #fff;
}
.secondMenu li{
    margin-left: 10px;
    margin-right: 10px;
}
.secondMenu input{
    font-size: 18px;
    width: 300px;
    padding-bottom: 5px;
    padding-top: 5px;
}
/* banner */
.banner{
    text-align: center;
}
/* card block */
.blockCardUnderBanner{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.cardBlock{
    margin-left: 10px;
    margin-right: 10px;
    width: 220px;
}
.cardBlock ul{
    display: flex;
    justify-content: space-around;
}
/* popular */
section{
    margin-left: 100px;
    margin-right: 100px;
}
.popular{
    width: 100%; 
    display: flex;
}
.percent40{
    width: 40%; 
}
.percent60{
    width: 60%; 
}
.Per60CardBlock {
    display: flex;
}
.Per60CardBlock .cardBlockImg{
    width: 300px;
}
.Per60CardBlock .cardBlock{
    margin-left: 10px;
    margin-right: 10px;
    width: 320px;
}
.popularImgCardBlock{
    width: 40px;
}
/* cardSchet */
.cardSchet{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.cardSchetBlock{
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-left: 10px; 
    margin-right: 10px;
}
.cardSchetBlock h2{
    font-weight: 800;
    color: #8b8b8b;
    font-size: 24px;
}
.cardSchetBlock p{
    width: 150px;
    font-weight: 600;
    color: #8b8b8b;
}
/* reviews */
.reviews{
    text-align: center;
    margin-top: 100px;
}
.reviews p{
    font-weight: 500;
    font-size: 14px;
}
.buttonRev{
    color: white;
    padding: 3px;
}
.redReview{
    background-color: red;
}
.blueReview{
    background-color: rgb(59, 192, 236); 
}
.containerReviews{
    justify-content: center;
    display: flex
}
.reviewCard{
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    background-color: #193979;
    color: white;
}
.bgrev {
    display: flex
}
.bgrev i{
    font-size: 12px;
    padding-right: 3px; 
    padding-left: 3px; 
}
.reviewCard .bgrev{
    background-color: #F3B07F;
}
.reviewCard img{
    width: 100px;
}
/* footer */
.footer{
    text-align: center;
    margin-top: 100px;
    color: white;
}
.bgBlackBlack img{
    width: 350px;
}
.bgBlack{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgb(41, 41, 41);
}
.bgBlack p{
    margin: 0;
}
.bgBlackBlack p{
    margin: 0;
}
.bgBlackBlack{
    background-color: rgb(29, 29, 29);
    padding-bottom: 20px;
}