body{
    margin: 0;
    background-color: #EDF1F2;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* menu */
.firstMenu ul{
    display: flex;
}
.firstMenu li{
    margin-left: 10px;
    margin-right: 10px;
}
.firstMenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}