a{
    text-decoration: none;
}
li{
    list-style-type: none;
} 

body{
    background: url('https://steambuy.com/partner/img/background.png'); 
    background-position: top; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    margin: 0;  
    font-family: "Science Gothic", sans-serif;
}
/* menu start */
.allPageBorder{
    margin-left: 247px;
    margin-right: 247px; 
}
.header{
    display: flex;
    box-shadow: 0px 3px 5px gray; 
    justify-content: space-between;
    align-items: center;
}
.header ul{
    display: flex;
}
.header li{
    margin-right: 50px;
}
.buttonsMenu{
    display: flex;
    margin-right: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.buttonsMenu .btn{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
}
.skyButton {
    margin-right: 20px;
    background-color: rgb(90, 186, 255); 
}
.redButton { 
    background-color: red;
}
/* menu end */

/* textZar */
.textZar{
    margin-top: 50px;
    text-align: center;
}
.textZar p{
    font-weight: 200;
}
.textZar span{
    color: rgb(242, 81, 40);
    font-size: 30px;
}
/* textZar end */