body{
    margin: 0px;
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* menu start */
header p{
    margin: 0;
}
.bg-dark-lining{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
}
.menu{
    margin-top: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}
.menu img{
    width: 60px;
    height: 30px;
}
.Head-icon img{
    width: 35px;
}
.menu  ul{
    display: flex;
}
.menu li{
    margin-left: 10px;
    margin-right: 10px;
}
.menu a{
    color: #000;
    font-weight: 500;
}
/* menu end */
 
/* banner slider  */  
.slider {
    position: relative;     
} 
.slides {
    display: flex; 
    transition: transform .6s ease;
}
.slide {
    width: 100%; 
    flex-shrink: 0;
}
.slide img {
    width: 100%; 
}
/* Переключение */
#s1:checked ~ .slides {
    transform: translateX(0);
}
#s2:checked ~ .slides {
    transform: translateX(-100%);
}
/* Стрелки слайда */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    user-select: none;
    z-index: 2;
    transition: opacity .2s ease;
}
.arrow:hover {
    opacity: 0.7;
} 
.left {
    left: 20px;
}
.right {
    right: 20px;
}