body{
    margin: 0px;
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* menu start */
header p{
    margin: 0;
}
.bg-dark-lining{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
}
.menu{
    margin-top: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}
.menu img{
    width: 60px;
    height: 30px;
}
.Head-icon img{
    width: 35px;
}
.menu  ul{
    display: flex;
}
.menu li{
    margin-left: 10px;
    margin-right: 10px;
}
.menu a{
    color: #000;
    font-weight: 500;
}
/* menu end */
 
/* banner slider  */   
#s1, #s2 {
    display: none;
} 
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform .6s ease;
}
.slide {
    width: 100%;
    flex-shrink: 0;
}
.slide img {
    width: 100%;
    display: block;
} 
#s1:checked ~ .slides {
    transform: translateX(0);
}
#s2:checked ~ .slides {
    transform: translateX(-100%);
} 
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    user-select: none;
    z-index: 5;
    opacity: .9;
}
.arrow:hover {
    opacity: .7;
}
.a1 {right: 20px;}
.a2 {left: 20px;   } 
#s1:checked ~ .a1 { display: block; }
#s1:checked ~ .a2 { display: none; }
#s2:checked ~ .a1 { display: none; }
#s2:checked ~ .a2 { display: block; }

/* about */
.about{
    margin-top: 50px;
    height: 300px; 
    position: relative;
    overflow: hidden;
}
.textButton{
    position: absolute;
    top: 100px;
    right: 100px;
}
.about h1{
    text-transform: uppercase;
    color: white;
}
.textButton a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    background-color: #fff;
    color: #000;
}
/* Atlet */
.atlet {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
}
.cardAtlet {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    width: 300px;
    overflow: hidden;
}
.cardAtlet img {
    width: 100%;
}
.textAtlet {
    position: absolute;
    bottom: 0; 
    width: 100%;
    padding: 20px;
    background: rgba(0,0,0,0.45);  
    color: #fff;
}
.h1Atlet {
    margin: 0;
    font-size: 24px;
}
.nameAtlet a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
/*  */
.h1Lining{
    text-transform: uppercase;
    margin-left: 100px;
}
/*  */