body {
	margin: 0px;
	font-family: 'Poppins', sans-serif;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
/* menu start */
header p {
	margin: 0;
}
.bg-dark-lining {
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 14px;
}
.menu {
	margin: 10px 0 10px 0;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Head-icon {
	display: flex;
	gap: 15px;
}

.menu img {
	width: 60px;
	height: 30px;
}

.container {
	padding: 0 40px 0;
}

.Head-icon img {
	width: 25px;
	height: 25px;
}
.menu ul {
	display: flex;
	gap: 20px;
}
.menu a {
	color: #000;
}
.menu li {
	font-weight: 500;
	position: relative;
	text-decoration: none;
}

.menu li::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -15px; /* расстояние от текста */
	width: 0%;
	height: 1px;
	background: #000;
	transition: width 0.3s ease;
}

/* При наведении линия появляется слева направо */
.menu li:hover::after {
	width: 100%;
}
/* menu end */

/* banner slider  */
.slider {
	position: relative;
}
.slides {
	display: flex;
	transition: transform 0.6s ease;
}
.slide {
	width: 100%;
	flex-shrink: 0;
}
.slide img {
	width: 100%;
}
/* Переключение */
#s1:checked ~ .slides {
	transform: translateX(0);
}
#s2:checked ~ .slides {
	transform: translateX(-100%);
}
/* Стрелки слайда */
.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 60px;
	color: white;
	cursor: pointer;
	padding: 10px 20px;
	user-select: none;
	z-index: 2;
	transition: opacity 0.2s ease;
}
.arrow:hover {
	opacity: 0.7;
}
.left {
	left: 20px;
}
.right {
	right: 20px;
}
/* banner slider end */

/* about start */
.about {
	margin-top: 50px;
	position: relative;
	overflow: hidden;
}

.about img {
	width: 100%;
	height: 280px;
}

.about div {
	position: absolute;
	top: 40px;
	right: 100px;
}
.about__title {
	color: white;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: 700;
}
.about__btn {
	border: none;
	background-color: white;
	font-size: 20px;
	font-weight: 100;
	color: black;
	padding: 10px 40px;
	transition: 0.1s;
}
.about a {
	color: #000;
}
.about__btn:hover {
	border-radius: 5px;
	padding: 10px 41px;
}
/* about end */
/* content start */
.button-arrow svg {
	width: 25px;
	height: 25px;
	transform: rotate(-90deg);
	position: absolute;
	bottom: 15px;
	right: 40px;
	font-size: 400;
}
.content a {
	color: white;
}
.content__title {
	font-size: 50px;
	color: rgb(60, 60, 60);
}

.content {
	display: flex;
	gap: 20px;
}

.img__content {
	position: relative;
	overflow: hidden;
}

.img__content img {
	width: 100%;
}

.img__content div {
	padding-left: 20px;
	color: white;
	position: absolute;
	bottom: 7px;
	width: 100%;
	height: 130px;
	background: rgba(0, 0, 0, 0.7);
}
/* content end */
/* video start */
.video__title {
	margin: 30px 0;
	font-size: 50px;
	color: rgb(60, 60, 60);
}

.video video {
	width: 100%;
}

/* video end */
/* home-cart start */
.home__cart {
	margin-top: 50px;
	display: flex;
	gap: 30px;
}
.home__cart img {
	height: 205px;
}
/* home-cart end */

/* footer-img start */
.footer-img img {
	width: 100%;
	display: block;
}
/* footer-img end */
/* footer start */
.footer {
	width: 100%;
	background-color: #1f1e1e;
}
/* footer end */

.footer {
	background: #111;
	color: #fff;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	padding: 70px 60px 120px;
}

.footer-column h3 {
	font-size: 20px;
	margin-bottom: 20px;
}

.footer-column p,
.footer-column a {
	font-size: 15px;
	color: #fff;
	display: block;
	margin-bottom: 12px;
}

.footer-brand {
	text-align: left;
}

.brand-logo {
	width: 120px;
	margin-bottom: 10px;
}

.footer-brand h2 {
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 20px;
}

.newsletter {
	border-bottom: 1px solid #555;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
}

.newsletter input {
	flex: 1;
	background: transparent;
	border: none;
	color: #fff;
	padding: 8px 0;
	outline: none;
}

.newsletter button {
	background: none;
	border: none;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}

@media (max-width: 900px) {
	.footer-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 600px) {
	.footer-container {
		grid-template-columns: 1fr;
	}
}
